<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WriteLogService.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WriteLogService.app>
            <setting name="queueName" serializeAs="String">
                <value>WriteLog</value>
            </setting>
            <setting name="msgEncoding" serializeAs="String">
                <value>UTF-16LE</value>
            </setting>
        </WriteLogService.app>
    </userSettings>
</configuration>